<a href="https://colab.research.google.com/github/wanyeelim/hello-world/blob/master/WinePrediction_datacamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Wine Datasets Description

In [0]:
from sklearn import datasets
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np 
import matplotlib.pyplot as plt 
plt.style.use('ggplot') 
wine = datasets.load_wine()

In [0]:
X = wine.data
y = wine.target

In [0]:
df = pd.DataFrame(X, columns=wine.feature_names)

In [84]:
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
alcohol                         178 non-null float64
malic_acid                      178 non-null float64
ash                             178 non-null float64
alcalinity_of_ash               178 non-null float64
magnesium                       178 non-null float64
total_phenols                   178 non-null float64
flavanoids                      178 non-null float64
nonflavanoid_phenols            178 non-null float64
proanthocyanins                 178 non-null float64
color_intensity                 178 non-null float64
hue                             178 non-null float64
od280/od315_of_diluted_wines    178 non-null float64
proline                         178 non-null float64
dtypes: float64(13)
memory usage: 18.2 KB

In [76]:
df.describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean    13.000618    2.336348  ...                      2.611685   746.893258
std      0.811827    1.117146  ...                      0.709990   314.907474
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.362500    1.602500  ...                      1.937500   500.500000
50%     13.050000    1.865000  ...                      2.780000   673.500000
75%     13.677500    3.082500  ...                      3.170000   985.000000
max     14.830000    5.800000  ...                      4.000000  1680.000000

[8 rows x 13 columns]

In [0]:
scatter_matrix(df, c = y, figsize = [8, 8], s=150, marker = 'D')

In [0]:
#KNN Classification

In [94]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(wine['data'], wine['target'])
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',metric_params=None, n_jobs=1, n_neighbors=6, p=2,weights='uniform')
wine['data'].shape

(178, 13)

In [0]:
X_new = np.array([[14.23,	1.71,	2.43,	15.6,	127.0,	2.80,	3.06,	0.28,	2.29,	5.64,	1.04,	3.92,	1065.0]])
prediction = knn.predict(X_new)

In [97]:
X_new.shape

(1, 13)

In [81]:
print("Prediction {}".format(prediction))

Prediction [0]

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20, stratify=y)
knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))

Test set predictions:
 [1 1 2 1 1 1 1 0 2 1 0 1 0 1 1 0 0 2 0 1 0 1 1 1 1 1 1 0 2 1 0 0 0 1 2 2 0
 2 2 0 0 2 2 0 1 1 0 1 2 1 0 0 0 0 1 1 0 1 1 2 0 0 1 1 1 1 2 0 1 1 2 1 1 1
 1 1 0 1 2 0 2 2 2 2 1 1 0 1 0 2 2 1 1 1 1 0 2 0 0 1 1 0 1 1 1 0 1 2 2 0 1
 2 0 1 2 1 1 0 0 1 0 1 1 1 2]

In [83]:
knn.score(X_test, y_test)

0.68